# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# .NET build output
[Bb]in/
[Dd]ebug/
[Rr]elease/
*.dll
*.pdb
*.obj
obj/

# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/key.properties
mobile/android/app/google-services.json
mobile/ios/.symlinks/
mobile/ios/Flutter/flutter_export_environment.sh
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Pods/
mobile/ios/Podfile.lock
mobile/*.iml
mobile/**/*.iml
